<h3> Using the reservation system </h3>  

<body>

  <ul>
    <li>To make a reservation, pick a date and time that the reservation should start.</li>
    <li>Pick a date and time that the reservation should end.</li>
    <li>Dates must not span more than one day.</li>
    <li>Times must not be outside of opening hours.</li>
    <li>If unable to attend a reservation, cancel it!</li>