<h1>My Reservations</h1>
<%= link_to "New Reservation", new_reservation_path, :class => "btn btn-primary" %>
<%= link_to "Sign Out", destroy_user_session_path, :class => "btn", :method => "delete" %>

<table>
  <tr>
    <th>Start time</th>
    <th>End time</th>
  </tr>
<%- @reservations.each do |reservation| -%>
  <tr>
    <td><%= reservation.start_at %></td>
    <td><%= reservation.end_at %></td>
  </tr>
  
<%- end -%>
</table>