<br><br>

<h1>My Reservations</h1>

<br>
<br>
<table>
  <tr>
    <th>Start time</th>
    <th>End time</th>
  </tr>
<%- @reservations.each do |reservation| -%>
  <tr>
    <td><%= reservation.start_at %></td>
    <td><%= reservation.end_at %></td>
  </tr>
  
<%- end -%>
</table>

