

<h1>My Reservations</h1>

<br>
<br>

<table>
  <tr>
    <th>Start date and time</th>
    <th>End date and time</th>
  </tr>

<tr> 
    <%- @reservations.each do |reservation| -%>
    <td><%= reservation.start_at %></td>
    <td><%= reservation.end_at %></td>
    <td><%= button_tag "Cancel", :type => 'button' %></td>
  </tr>
  
  <%#   button.onclick do  %>
  <%#  window.Alert("cancel?") %>
<%# end %>
<%- end -%>
</table>

